BasedOnStyle:  Mozilla
IndentWidth: 4
ColumnLimit: 99
---
Language: Cpp
UseCRLF: false
DeriveLineEnding: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
ColumnLimit:     99
ConstructorInitializerIndentWidth: 4
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ContinuationIndentWidth: 4
FixNamespaceComments: true
IndentWidth:     4
ObjCBlockIndentWidth: 4
PointerAlignment: Left
AlignEscapedNewlines: Left
KeepEmptyLinesAtTheStartOfBlocks: false
SpacesBeforeTrailingComments: 2
BreakBeforeBraces: Attach
BraceWrapping:
  AfterCaseLabel:  false
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       true
  AfterFunction:   false
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     true
  AfterUnion:      true
  AfterExternBlock: true
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
...
